:root {
    --clr-primary: #0f172a;
    --clr-primary-dark: #334155;
    --clr-secondary: #1f2937;
    --clr-secondary-dark: #4b5563;

    --text-clr-primary: #f1f5f9;
    --text-clr-secondary: #f3f4f6;

    --clr-light: #a78bfa;
}

.category--card{
    position: relative;
    max-height: 25rem;
    max-width: 25rem;
    opacity: 0.7;
    cursor: pointer;
}

.category--title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category--card:hover{
    transform: scale(1.1);
}

.category--card:hover img{
    opacity: 0.4;
}

.about__description h2{
    font-family: var(--font-family-secondary);
}

.navbar__title{
    font-family: var(--font-family-secondary);
}

.footer__container{
    background-color: var(--clr-secondary);
    color: var(--text-clr-secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__icons i{
    font-size: var(--text-large);
    margin: 0 var(--margin-medium);
    color: #ffffff;
}

.footer__icons i:hover{
    cursor: pointer;
    font-size: 2.6rem;
    
}

.navbar__item:hover{
    color: var(--clr-light);
    border: none;
}

.navbar__item:hover a{
    color: var(--clr-light);
}

.quiz__category{
    margin-bottom: 3rem;
}

.btn--red{
    background-color: #dc2626;
    color: #ffffff;
}

.btn--red:hover{
    background-color: #991b1b;
}

.btn--light{
    background-color: var(--clr-light);
    color: var(--clr-primary);
}

.btn--light:hover{
    background-color: var(--clr-light);
}

.rules__container{
    max-width: 50%;
}

.rules{
    min-height: 70vh;
}

.question{
    min-height: 70vh;
}

.question__container{
    max-width: 60%;
}

.result__answer{
    max-width: 100%;
}

.container__answer{
    margin-top: var(--margin-large);
    display: flex;
    flex-direction: column;
}

.answer{
    padding: var(--padding-large);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    margin: var(--margin-medium) 0;
    cursor: pointer;
    background-color: var(--clr-primary);
}

.answer:hover{
    background-color: var(--clr-primary-dark);
}

.answer--success{
    background-color: #15803d;
    border: none;
}

.answer--success:hover{
    background-color: #15803d;
    border: none;
}

.answer--wrong{
    background-color: #dc2626;
    border: none;
}

.answer--wrong:hover{
    background-color: #dc2626;
    border: none;
}

.question__score{
    margin: var(--margin-large) var(--margin-medium);
    color: var(--clr-light)
}

.container__results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results{
    font-family: var(--font-family-secondary);
    width: 100%;
    background-color: var(--clr-secondary);
    padding: var(--padding-medium) 0;
    border-radius: 20px;
}

.result__success{
    color: var(--clr-light);
}

.result__error{
    color: #dc2626;
}

@media only screen and (max-width: 600px) {

    .container--50{
        max-width: 100%;
    }

    .navbar__item:hover{
        color: var(--clr-primary);
        border: none;
    }

    .navbar__item:hover a{
        color: var(--clr-primary);
    }

    .rules__container,
    .question__container{
        max-width: 100%;
    }
}